SELECT 
DEVICEID,
DATEID,
MONTH(RISINGTRAPLOGTS) AS MONTH_OF_EXCEPTION,
DATEPART(HOUR,RISINGTRAPLOGTS) AS HOUR_OF_DATEID,
DATENAME(DW,RISINGTRAPLOGTS) AS DAYNAME,
COUNT(1) AS NUMBER_OF_EXCEPTIONS,
SUM(DURATION) AS DURATION_OF_EXCEPTIONS
INTO RMON_FCT_LOGS_HOUR_DAY_MONTH
FROM RMON_FCT_LOGS
GROUP BY 
DEVICEID,
DATEID,
MONTH(RISINGTRAPLOGTS),
DATEPART(HOUR,RISINGTRAPLOGTS),
DATENAME(DW,RISINGTRAPLOGTS)------- 1764962




SELECT COUNT(*)
FROM
(
SELECT
PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY NUMBER_OF_EXCEPTIONS)OVER (PARTITION BY DEVICEID)  AS MEDIAN
FROM RMON_FCT_LOGS_HOUR_DAY_MONTH)
AS A   ----- 1764962


RMON_DAILYEXCEPTION_SUMMARY
RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING
RMON_MonthlyException_Summary_SCORING



RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS





SELECT TOP 10 * frOM RMON_FCT_LOGS_HOUR_DAY_MONTH

SELECT COUNT(*) FROM RMON_FCT_LOGS_HOUR_DAY_MONTH ----- 1237780

SELECT TOP 10 * FROM dbo.RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS

 
SELECt COUNT(*) fROM RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS ---- 2939


SELECT TOP 10 * from dbo.RMON_FCT_LOGS_DURATION_FREQUENCIES


SELECT COUNT(*) FROM RMON_FCT_LOGS_DURATION_FREQUENCIES ---- 2939


ELECT TOP 10 * frOM RMON_FCT_LOGS_HOUR_DAY_MONTH

SELECT COUNT(*) FROM RMON_FCT_LOGS_HOUR_DAY_MONTH ----- 1237780

SELECT TOP 10 * FROM dbo.RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS

 
SELECt COUNT(*) fROM RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS ---- 2939


SELECT TOP 10 * from dbo.RMON_FCT_LOGS_DURATION_FREQUENCIES



UPDATE RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET WEIGHTS =AVERAGE_OF_EXCEPTIONS*0.01+
MINIMUM_OF_EXCEPTIONS*0.005+
MAXIMUM_OF_EXCEPTIONS*0.01+
NUMBER_OF_EXCEPTIONS*0.01+
AVERAGE_OF_EXCEPTIONSDURATION*0.01+
MINIMUM_OF_EXCEPTIONSDURATION*0.005+
MAXIMUM_OF_EXCEPTIONSDURATION*0.01+
TOTAL_EXCEPTIONSDURATION*0.02+
MEDIAN_OF_EXCEPTIONS*0.1+
MEDIAN_OF_EXCEPTIONSDURATION*0.1+
SLOPE*0.1+
CORRELATION*0.1+
NUMBER_OF_EXCEPTIONS_IN_0_10_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_10_20_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_20_30_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_30_40_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_40_50_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_50_60_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_60_70_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_70_80_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_80_90_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_90_100_MINS*0.01+
NUMBER_OF_EXCEPTIONS_IN_100_120_MINS*0.01+
NUMBER_OF_EXCEPTIONS_MORE_THAN_120_MINS*0.1+
NUMBER_OF_EXCEPTIONS_IN_0_10*0.02+
NUMBER_OF_EXCEPTIONS_IN_10_20*0.02+
NUMBER_OF_EXCEPTIONS_IN_20_30*0.02+
NUMBER_OF_EXCEPTIONS_IN_30_40*0.02+
NUMBER_OF_EXCEPTIONS_IN_40_50*0.02+
NUMBER_OF_EXCEPTIONS_IN_50_60*0.02+
NUMBER_OF_EXCEPTIONS_IN_60_70*0.02+
NUMBER_OF_EXCEPTIONS_IN_70_80*0.02+
NUMBER_OF_EXCEPTIONS_IN_80_90*0.02+
NUMBER_OF_EXCEPTIONS_IN_90_100*0.02+
NUMBER_OF_EXCEPTIONS_IN_100_120*0.02+
NUMBER_OF_EXCEPTIONS_MORE_THAN_120*0.1


Update RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET CLASS = 'NONE'
WHERE Weights between 0 and 10 ---- 197


Update RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET CLASS = 'NORMAL'
WHERE Weights between 11 and 80 ---- 466

Update RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET CLASS = 'READY FOR WATCHLIST'
WHERE Weights between 80 and 120 --- 125


Update RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET CLASS = 'WATCHLIST'
WHERE Weights between 121 and 5000 --- 1934


Update RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS 
SET CLASS = 'Upgrade'
WHERE Weights >5000 ---- 198

SELECT COUNT(*) FROM RMON_FCT_LOGS_DURATION_FREQUENCIES ---- 2939


SELECT TOP 10 * FROM RMON_FCT_LOGS_NOE_FREQUENCIES


SELECT COUNT(*) FROM RMON_FCT_LOGS_NOE_FREQUENCIES ----- 2939


sELECT TOP 10 * fROM RMON_FCT_LOGS_HOUR_DAY_MONTH

select  * from RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS


select top 2 * from RMON_FCT_LOGS_DURATION_FREQUENCIES

select top 2 * from RMON_FCT_LOGS_NOE_FREQUENCIES


RMON_FCT_LOGS_HOUR_DAY_MONTH_0_1


=======================================================================================Kumar===========================================================

Select DeviceId, Month(ExceptionDate) as ExceptionMonth,  cast(sum(DurationOfException) as float)/3600
from RMON_DailyException_Summary
group by DeviceId, Month(ExceptionDate)
order by cast(sum(DurationOfException) as float)/3600 desc

select * from RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING

UPDATE RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING
SET RECOMMENDATION_3C = 'NONE';

UPDATE RMON_MONTHLYEXCEPTION_SUMMARY_scoring
SET MONTH1DURATION = cast(MONTH1DURATION as float)/3600,
MONTH2DURATION = cast(MONTH2DURATION as float)/3600



UPDATE RMON_MONTHLYEXCEPTION_SUMMARY_scoring
SET RECOMMENDATION_3C = 'WATCHLIST'
WHERE MONTH1DURATION > 20 or MONTH2DURATION > 20 ;

UPDATE RMON_MONTHLYEXCEPTION_SUMMARY_scoring
SET RECOMMENDATION_3C = 'UPGRADE'
WHERE MONTH1DURATION > 20 AND MONTH2DURATION > 20 ;

==========================================================================================================================================================




Median of exceptions :

1,2,2



1,2,3


==========================================================================================================================================================

update a
SET a.LASTCONTINUOUSEXCEPTIONS =  b.LASTCONTINUOUSEXCEPTIONS
from RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING as a
join (select deviceid,max(ContiousExceptionCount) as LASTCONTINUOUSEXCEPTIONS
from Anala_Tmp
where YYYYMM in (201712,201801)
group by deviceid) as b
on a.deviceid=b.deviceid

update RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING set LASTCONTINUOUSEXCEPTIONS = 0
where LASTCONTINUOUSEXCEPTIONS is null

update a
SET a.LASTCONTINUOUSEXCEPTIONS =  b.LASTCONTINUOUSEXCEPTIONS
from RMON_MONTHLYEXCEPTION_SUMMARY_SCORING as a
join (select deviceid,max(ContiousExceptionCount) as LASTCONTINUOUSEXCEPTIONS
from Anala_Tmp
where YYYYMM in (201801,201802)
group by deviceid) as b
on a.deviceid=b.deviceid

update RMON_MONTHLYEXCEPTION_SUMMARY_SCORING set LASTCONTINUOUSEXCEPTIONS = 0
where LASTCONTINUOUSEXCEPTIONS is null


select top 5 * from RMON_MONTHLYEXCEPTION_SUMMARY_SCORING

update a
SET a.LASTCONTINUOUSEXCEPTIONSDURATION =  b.LASTCONTINUOUSEXCEPTIONSDURATION
from RMON_MONTHLYEXCEPTION_SUMMARY_SCORING as a
join (select deviceid,max(ExceptionDuration) as LASTCONTINUOUSEXCEPTIONSDURATION
from Anala_Tmp
where YYYYMM in (201802,201801)
group by deviceid) as b
on a.deviceid=b.deviceid

update RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING set LASTCONTINUOUSEXCEPTIONSDURATION = 0
where LASTCONTINUOUSEXCEPTIONSDURATION is null

select top 5 * from RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING


update RMON_MONTHLYEXCEPTION_SUMMARY_SCORING 
set LASTCONTINUOUSEXCEPTIONSDURATION = LASTCONTINUOUSEXCEPTIONSDURATION/3600

update RMON_MONTHLYEXCEPTION_SUMMARY_MODELLING
set LASTCONTINUOUSEXCEPTIONSDURATION = LASTCONTINUOUSEXCEPTIONSDURATION/3600


==========================================================================================================================================================


UPDATE A 
SET 
A.DIFF_AVERAGE_OF_EXCEPTIONS = B.DIFF_AVERAGE_OF_EXCEPTIONS,
A.DIFF_MEDIAN_OF_EXCEPTIONS = B.DIFF_MEDIAN_OF_EXCEPTIONS,
A.DIFF_MAXIMUM_OF_EXCEPTIONS = B.DIFF_MAXIMUM_OF_EXCEPTIONS,
A.DIFF_MAXIMUM_OF_EXCEPTIONSDURATION = B.DIFF_MAXIMUM_OF_EXCEPTIONSDURATION,
A.DIFF_AVERAGE_OF_EXCEPTIONSDURATION = B.DIFF_AVERAGE_OF_EXCEPTIONSDURATION,
A.DIFF_MEDIAN_OF_EXCEPTIONSDURATION = B.DIFF_MEDIAN_OF_EXCEPTIONSDURATION,
A.DIFF_MINIMUM_OF_EXCEPTIONS = B.DIFF_MINIMUM_OF_EXCEPTIONS,
A.DIFF_MINIMUM_OF_EXCEPTIONSDURATION = B.DIFF_MINIMUM_OF_EXCEPTIONSDURATION,
A.DIFF_NUMBER_OF_EXCEPTIONS = B.DIFF_NUMBER_OF_EXCEPTIONS,
A.DIFF_TOTAL_EXCEPTIONSDURATION	= B.DIFF_TOTAL_EXCEPTIONSDURATION
from RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS AS a
JOIN RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS_DIFFERENCE as b
ON A.DEVICEID= B.DEVICEID

UPDATE A 
SET 
--SLOPE = 37.68,
--Correlation =0.68,
A.NUMBER_OF_EXCEPTIONS_IN_0_10_MINS = B.NUMBER_OF_EXCEPTIONS_IN_0_10_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_10_20_MINS = B.NUMBER_OF_EXCEPTIONS_IN_10_20_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_20_30_MINS = B.NUMBER_OF_EXCEPTIONS_IN_20_30_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_30_40_MINS = B.NUMBER_OF_EXCEPTIONS_IN_30_40_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_40_50_MINS = B.NUMBER_OF_EXCEPTIONS_IN_40_50_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_50_60_MINS = B.NUMBER_OF_EXCEPTIONS_IN_50_60_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_60_70_MINS = B.NUMBER_OF_EXCEPTIONS_IN_60_70_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_70_80_MINS = B.NUMBER_OF_EXCEPTIONS_IN_70_80_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_80_90_MINS = B.NUMBER_OF_EXCEPTIONS_IN_80_90_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_90_100_MINS = B.NUMBER_OF_EXCEPTIONS_IN_90_100_MINS,
A.NUMBER_OF_EXCEPTIONS_IN_100_120_MINS = B.NUMBER_OF_EXCEPTIONS_IN_100_120_MINS,
A.NUMBER_OF_EXCEPTIONS_MORE_THAN_120_MINS = B.NUMBER_OF_EXCEPTIONS_MORE_THAN_120_MINS
FROM RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS AS A
JOIN 
RMON_FCT_LOGS_DURATION_FREQUENCIES AS B
ON A.DEVICEID = B.DEVICEID

UPDATE A 
SET 
--SLOPE = 37.68,
--Correlation =0.68,
A.NUMBER_OF_EXCEPTIONS_IN_0_10 = B.NUMBER_OF_EXCEPTIONS_IN_0_10,
A.NUMBER_OF_EXCEPTIONS_IN_10_20 = B.NUMBER_OF_EXCEPTIONS_IN_10_20,
A.NUMBER_OF_EXCEPTIONS_IN_20_30 = B.NUMBER_OF_EXCEPTIONS_IN_20_30,
A.NUMBER_OF_EXCEPTIONS_IN_30_40 = B.NUMBER_OF_EXCEPTIONS_IN_30_40,
A.NUMBER_OF_EXCEPTIONS_IN_40_50 = B.NUMBER_OF_EXCEPTIONS_IN_40_50,
A.NUMBER_OF_EXCEPTIONS_IN_50_60 = B.NUMBER_OF_EXCEPTIONS_IN_50_60,
A.NUMBER_OF_EXCEPTIONS_IN_60_70 = B.NUMBER_OF_EXCEPTIONS_IN_60_70,
A.NUMBER_OF_EXCEPTIONS_IN_70_80 = B.NUMBER_OF_EXCEPTIONS_IN_70_80,
A.NUMBER_OF_EXCEPTIONS_IN_80_90 = B.NUMBER_OF_EXCEPTIONS_IN_80_90,
A.NUMBER_OF_EXCEPTIONS_IN_90_100 = B.NUMBER_OF_EXCEPTIONS_IN_90_100,
A.NUMBER_OF_EXCEPTIONS_IN_100_120 = B.NUMBER_OF_EXCEPTIONS_IN_100_120,
A.NUMBER_OF_EXCEPTIONS_MORE_THAN_120 = B.NUMBER_OF_EXCEPTIONS_MORE_THAN_120
FROM RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS AS A
JOIN 
RMON_FCT_LOGS_NOE_FREQUENCIES AS B
ON A.DEVICEID = B.DEVICEID


UPDATE A 
SET 
A.MET_AVERAGE_OF_EXCEPTIONS = B.MET_AVERAGE_OF_EXCEPTIONS,
A.MET_MEDIAN_OF_EXCEPTIONS = B.MET_MEDIAN_OF_EXCEPTIONS,
A.MET_MAXIMUM_OF_EXCEPTIONS = B.MET_MAXIMUM_OF_EXCEPTIONS ,
A.MET_MAXIMUM_OF_EXCEPTIONSDURATION	= B.MET_MAXIMUM_OF_EXCEPTIONSDURATION,
A.MET_AVERAGE_OF_EXCEPTIONSDURATION	= B.MET_AVERAGE_OF_EXCEPTIONSDURATION,
A.MET_MEDIAN_OF_EXCEPTIONSDURATION	= B.MET_MEDIAN_OF_EXCEPTIONSDURATION,
A.MET_MINIMUM_OF_EXCEPTIONS	= B.MET_MINIMUM_OF_EXCEPTIONS,
A.MET_MINIMUM_OF_EXCEPTIONSDURATION	= B.MET_MINIMUM_OF_EXCEPTIONSDURATION,
A.MET_NUMBER_OF_EXCEPTIONS	= B.MET_NUMBER_OF_EXCEPTIONS,
A.MET_TOTAL_EXCEPTIONSDURATION	= B.MET_TOTAL_EXCEPTIONSDURATION
from RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS AS a
JOIN RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS_0_1 as b
ON A.DEVICEID= B.DEVICEID


UPDATE A 
SET 
A.DIFF_AVERAGE_OF_EXCEPTIONS = B.DIFF_AVERAGE_OF_EXCEPTIONS,
A.DIFF_MEDIAN_OF_EXCEPTIONS = B.DIFF_MEDIAN_OF_EXCEPTIONS,
A.DIFF_MAXIMUM_OF_EXCEPTIONS = B.DIFF_MAXIMUM_OF_EXCEPTIONS,
A.DIFF_MAXIMUM_OF_EXCEPTIONSDURATION = B.DIFF_MAXIMUM_OF_EXCEPTIONSDURATION,
A.DIFF_AVERAGE_OF_EXCEPTIONSDURATION = B.DIFF_AVERAGE_OF_EXCEPTIONSDURATION,
A.DIFF_MEDIAN_OF_EXCEPTIONSDURATION = B.DIFF_MEDIAN_OF_EXCEPTIONSDURATION,
A.DIFF_MINIMUM_OF_EXCEPTIONS = B.DIFF_MINIMUM_OF_EXCEPTIONS,
A.DIFF_MINIMUM_OF_EXCEPTIONSDURATION = B.DIFF_MINIMUM_OF_EXCEPTIONSDURATION,
A.DIFF_NUMBER_OF_EXCEPTIONS = B.DIFF_NUMBER_OF_EXCEPTIONS,
A.DIFF_TOTAL_EXCEPTIONSDURATION	= B.DIFF_TOTAL_EXCEPTIONSDURATION
from RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS AS a
JOIN RMON_FCT_LOGS_HOUR_DAY_MONTH_METRICS_DIFF as b
ON A.DEVICEID= B.DEVICEID

